body,ul,p,h1,h2,h3,h4,dl,dd,form,input,textarea,select
{ padding:0; margin:0; font-family:arial; }
li{ list-style:none; }
img{ border:none; }
a{ text-decoration:none; }
a:hover{ text-decoration:underline; }
body{ background: #fff url(../image/body_bg.png) repeat-x; }

#top{ width: 960px; height: 30px; margin: 0 auto; }

.top_menu{ float: left; }
.top_menu li{ float: left;background: url(../image/top_ico.png) no-repeat right 14px; font-size: 13px; line-height: 30px; padding-right: 18px; margin-left:14px; }
.top_menu a{ color: #c0c0c0; }
.top_menu a:hover{ color: #fff; }
.top_menu .no_dot{ background: none;padding: 0; }

.top_bar{ float: right; }
.top_bar li { float: left; height: 30px; color:#fff; font-weight: bold; font-size: 13px; line-height: 30px; }
.top_bar .phone{ background: url(../image/top_ico.png) no-repeat 6px -19px; padding:0 38px;}
.top_bar .help{ background: url(../image/top_ico.png) no-repeat 0 -47px ;padding:0 38px;}
.top_bar .help a{color: #fff;}
.top_bar .space{ margin-right: 12px; }

#head{ width:960px; height: 100px; margin: 0 auto; position: relative; background: url(../image/head_bg.png) no-repeat; }
#shopping{ width:260px; height: 100px; background: url( ../image/shopping_bg.png) no-repeat; position: relative; }
#shopping p { color: #f7f7f7; font-size: 20; font-family: arial; padding: 30px 0 0 84px; }
#shopping a { display: block; width: 114px; height: 24px; background: url( ../image/shopping_bg.png) no-repeat 0 -100px; position: absolute; top: 63px; left: 92px; font-size: 15px; color: #ffc200; font-weight: bold; text-decoration: none; text-align: center; line-height: 23px; }
#shopping a:hover { color: #fee491; }

#head h1 { width: 238px; position: absolute; top: 0px; left: 50%; margin-left: -118px;  }
#head .search{ top: 34px; right: 0; }

.search { width:292px; height: 31px; background: url( ../image/search.png) no-repeat; position: absolute; }
.search .text { position: absolute; left: 20px; top: 0; width: 230px; height: 30px; background: none; border:none; font-size: 13px; color: #666; outline: none; }
.search .btn { position: absolute; right: 0; top: 0; width: 42px; height: 30px; background: none; border:none;  }

#nav { width: 960px; height: 36px; padding-top: 8px; margin: 0 auto; }
#nav li { float:left; height: 28px; margin-right: 2px; }
#nav a { float:left; height: 28px;  text-decoration: none; color: #fff; font-size: 15px; font-family: arial; line-height: 28px; }
#nav strong { float:left; height: 28px;  font-weight: normal; }
#nav span { float:left; height: 28px;  padding: 0 16px; }

#nav a:hover, #nav .active a { background: url(../image/nav_active_bg.png) repeat-x 0 -56px; }
#nav a:hover strong, #nav .active strong { background: url(../image/nav_active_bg.png) no-repeat; }
#nav a:hover span, #nav .active span { background: url(../image/nav_active_bg.png) no-repeat right -28px; }
 
#content { width: 1000px; margin: 24px auto 0; background: url(../image/content_bg.png) repeat-y -1000px 0; }
#content_top { width: 1000px; background: url(../image/content_bg.png) no-repeat ; }
#content_bottom { width: 1000px; background: url(../image/content_bg.png) no-repeat -2000px bottom ; padding-top: 10px; }

#ad { width: 940px; height: 300px; position: relative; margin: 0 auto;  }
#ad ul,#ad li,#ad h2,#ad p { position: absolute; }
#ad ul { top: 0; left: 0; z-index: 1; }
#ad li { top: 0; left: 0; }
#ad h2 { left:0 ; bottom:8px ; z-index: 3; width: 268px; text-align: center; font-size: 25px; color: #ffc600; }
#ad p { left:268px; bottom:7px ; z-index: 3; color: #fcc; font-size: 13px; line-height: 16px; width: 630px; }
#ad .bg { width: 940px; height: 52px; background: #000; filter: alpha (opacity:80); opacity: 0.8; position: absolute; bottom: 0; left: 0; z-index: 2; }

#main { width: 942px; margin: 0 auto; padding-top: 30px; }
#side { width: 210px; float: left; }
#wrap { width: 706px; float: right; }

.clear { zoom:1; }
.clear:after { content: ''; display: block; clear: both; }

.module_menu { margin-bottom: 12px; }
.module_menu h2 { height: 29px;line-height: 28px; text-align: center; font-size: 15px; color: #fff; background: url(../image/module_menu_bg.png) repeat-x 0 -58px ; margin-bottom: 1px; }
.module_menu h2 strong { display: block; height: 29px; background: url(../image/module_menu_bg.png) no-repeat; }
.module_menu h2 span { display: block; height: 29px; background: url(../image/module_menu_bg.png) no-repeat right -29px; }

.list { background: url(../image/list_bg.png) repeat-y;}
.list ul { background: url(../image/list_bg.png) no-repeat -210px bottom; padding:18px 8px 15px;}
.list li {}
.list a { display: block;  height: 27px; line-height: 27px; border-bottom: 1px solid #fff; color: #434343; text-decoration: none; font-weight: bold; font-size: 12px; padding-left: 32px;}
.list a:hover { color: #b20e00; border-bottom: 1px solid #b20e00; background: #f8e093; }

.module_join { width: 210px; background: url(../image/list_bg.png) repeat-y -630px 0; }
.module_join_t { background: url(../image/list_bg.png) no-repeat -420px 0; }
.moudle_join_b { background: url(../image/list_bg.png) no-repeat -840px bottom; }

.Join_form { width: 180px; margin:0 auto 12px; }
.Join_form p { font-size: 15px; color: #666; line-height: 18px; padding:12px 0; }
.Join_form .text { width: 175px; height: 25px;line-height: 25px; background: #fff; border: 1px solid #fff; border-top: 1px solid #9c9c9c; border-left: 1px solid #c0c0c0; margin-bottom: 6px;  outline: none}
.Join_form .btn { width: 88px; height: 25px; border: none; font-size: 15px; color: #fff; font-weight: bold; background: url(../image/shopping_bg.png) no-repeat 0 -145px; margin: 0 auto; display: block; }

.join_list { width: 192px; margin: 0 auto; background: url(../image/shopping_bg.png) no-repeat 10px -170px; }
.join_list li { border-top: 1px solid #fff; padding-left: 62px; color: #434343; font-size: 13px; }

.space1 { height: 45px; line-height: 45px; }
.space2 { height: 43px; padding-top: 5px; ;line-height: 18px; }
.space3 { height: 45px; padding-top: 5px; ;line-height: 18px; }

#payment { margin: 33px 0 0 18px; }

.sort { height: 20px;}
.sort dl { float: left; }
.sort dt { float: left; font-size: 12px; color: #747474; font-weight: bold; padding-right: 2px; }
.sort dd { float: left; width: 109px;height: 19px; position: relative; margin-right: 12px; }
.sort h2 { width: 108px;height: 17px; border:1px solid #ccc; font-size: 12px; color:#747474; font-weight: normal; text-indent: 5px; }
.sort a { position: absolute;top:0; left:90px; width: 19px; height: 19px; background: url(../image/shopping_bg.png) 0 -368px; z-index: 2; }
.sort a:hover { position: absolute;top:0; left:90px; width: 19px; height: 19px; background: url(../image/shopping_bg.png) -19px -368px;}
.sort ul { width: 108px; border: 1px solid #ccc; background: #fff; position: absolute; top: 18px; left: 0; z-index: 1; display: none; }
.sort li { font-size: 12px; line-height: 20px; text-indent: 5px; cursor: pointer; }
.sort .active { background: #099; color: #fff; }
.sort p { font-size: 12px; float: right; color: #747474; }
.sort p strong{ color: #999; }
.sort p span{ padding: 0 5px; }
.color_style { color: #b20e00; }

.pic_list { width: 706px; overflow: hidden; }
.pic_list  h2, #scroll_list h2{ height: 56px; line-height: 62px; overflow: hidden; font-size: 18px; color: #666; }
.pic_list ul { width:736px;}
.pic_list li { float: left; width: 182px; height: 200px; }
.pic_list a { display: block; width: 154px; height: 114px; border: 1px solid #c6c6c6; margin-bottom: 7px; }
.pic_list a:hover { border: 1px solid #663; }
.pic_list h3 { font-size: 15px; color: #666; line-height: 16px; }
.pic_list p { font-size: 13px; color:#333; line-height: 16px; }
.pic_list span { color: #b20e00; }
 
.page { text-align: center; border-bottom: 1px solid #cdcdc8;padding: 5px; }
.page a { display: inline-block; height: 20px; line-height: 20px; padding: 0 7px;  color: #b20e00; text-decoration: none; font-size: 12px;}
.page a:hover,.page .active { color: #fff; background: #b20e00; }
.page span {  font-family: '宋体' }

.scroll_wrap { height: 196px; background: url(../image/sroll_bg.gif) repeat-x 0 -478px;}
.scroll_wrap_l { height: 196px; background: url(../image/sroll_bg.gif)  no-repeat 0 -86px; }
.scroll_wrap_r { height: 196px; background: url(../image/sroll_bg.gif)  no-repeat right -282px; position: relative; }

.prev, .next { width: 35px; height: 43px; position: absolute; top:70px ; }

.prev { left:0 ; background: url(../image/sroll_bg.gif) no-repeat; }
.next { right:0 ; background: url(../image/sroll_bg.gif) no-repeat 0 -43px;  }

.list_wrap { width: 615px; padding-top:32px; height: 150px; margin: 0 auto;}
.list_wrap ul { height: 150px;}
.list_wrap li { width: 205px; float: left; }
.list_wrap a, .list_wrap p { width: 145px; margin: 0 auto ;}
.list_wrap a { display: block; height: 100px; }
.list_wrap p { line-height: 14px; padding-top: 10px; font-size: 12px; color: #600; text-align: center; }

#bottom { width: 1349px; height: 304px; background: url(../image/bottom_bg.png) repeat-x ;margin: 0 auto; position: relative; }

.bottom_top { width: 1349px; height: 60px; margin:0; position: relative; }
.bottom_top li { float: left; width: 300px; height: 60px; font-size: 14px; color: #cbcbcb; font-weight: bold; line-height: 60px; padding-left: 55px;  }
.bottom_top .shield { background: url(../image/bottom_logo.png) no-repeat 0 6px; margin-left: 200px; }
.bottom_top .box { background: url(../image/bottom_logo.png) no-repeat 0 -51px; }
.bottom_top .search { float: right; position:absolute; top: 15px; right: 195px; }

.bottom_st li { font-size: 15px; color: #fff; font-weight: bold; float: left; }
.bottom_st .cy { position: absolute; top: 96px; left: 216px; }
.bottom_st .cs { position: absolute; top: 96px; left: 410px; }
.bottom_st .in { position: absolute; top: 96px; left: 616px; }
.bottom_st .sk { position: absolute; top: 96px; left: 800px; }
.bottom_st .cu { position: absolute; top: 96px; left: 982px; }

.bottom_c1 {}
.bottom_c1 li { font-size: 13px; color: #cfcfcf; padding-bottom: 6px;  position: absolute; left: 216px; }
.bottom_c1 .mt { top:136px; }
.bottom_c1 .rs { top:156px; }
.bottom_c1 .ts { top:176px; }
.bottom_c1 .be { top:196px; }
.bottom_c1 .f { top:216px; }

.bottom_c2 li { font-size: 13px; color: #cfcfcf ; padding-bottom: 6px; position: absolute; left: 410px}
.bottom_c2 .l{ top:136px; }
.bottom_c2 .a{ top:156px; }
.bottom_c2 .ae{ top:176px; }
.bottom_c2 .cs{ top:196px; }
.bottom_c2 .d{ top:216px; }
.bottom_c2 .anp{ top:236px; }

.bottom_c3 {}
.bottom_c3 li { font-size: 13px; color: #cfcfcf; padding-bottom: 6px;  position: absolute; left: 616px; }
.bottom_c3 .mt { top:136px; }
.bottom_c3 .rs { top:156px; }
.bottom_c3 .ts { top:176px; }
.bottom_c3 .be { top:196px; }
.bottom_c3 .f { top:216px; }

.bottom_c4 {}
.bottom_c4 li { font-size: 13px; color: #cfcfcf; padding-bottom: 6px;  position: absolute; left: 800px; }
.bottom_c4 .mt { top:136px; }
.bottom_c4 .rs { top:156px; }
.bottom_c4 .ts { top:176px; }
.bottom_c4 .be { top:196px; }
.bottom_c4 .f { top:216px; }

.bottom_c5 {}
.bottom_c5 li { font-size: 13px; color: #cfcfcf; padding-bottom: 6px;  position: absolute; left: 982px; }
.bottom_c5 .p { top:136px; }
.bottom_c5 .t { top:156px; }
.bottom_c5 .f { top:176px; }
.bottom_c5 .suae { top:196px; }
.bottom_c5 .ms { top:236px; }
.bottom_c5 .shc { top:256px; }