/**/

body,
ul,
p,
h1,
h2,
h3,
h4,
dl,
dd,
form,
input,
textarea,
select {
    padding: 0;
    margin: 0;
    font-family: Arial;
}

li {
    list-style: none;
}

img {
    border: none;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

body {
    background: #fff url(../images/body_bg.png) repeat-x;
}

#top {
    width: 960px;
    height: 30px;
    margin: 0 auto;
}

.top-menu {
    float: left;
}

.top-menu li {
    float: left;
    background: url(../images/top_ico.png) no-repeat right 14px;
    font-size: 13px;
    line-height: 30px;
    padding-right: 18px;
    margin-right: 15px;
}

.top-menu a {
    color: #c0c0c0;
}

.top-menu a:hover {
    color: #fff;
}

.top-menu .no-dot {
    background: none;
    padding: 0;
    margin: 0;
}

.top-bar {
    float: right;
}

.top-bar li {
    float: left;
    height: 30px;
    color: #fff;
    font-weight: bold;
    font-size: 13px;
    line-height: 30px;
}

.top-bar .phone {
    background: url(../images/top_ico.png) no-repeat 8px -13px;
    padding: 0 38px;
}

.top-bar .help {
    background: url(../images/top_ico.png) no-repeat 0 -43px;
    padding: 0 38px;
}

.top-bar .help a {
    color: #fff;
}

.top-bar .space {
    margin-right: 12px;
}

#header {
    width: 960px;
    height: 100px;
    margin: 0 auto;
    position: relative;
    background: url(../images/loge_bg.png) no-repeat;
}

#shopping {
    width: 260;
    height: 100px;
    background: url(../images/shopping_bg.png) no-repeat;
    position: relative;
}

#shopping p {
    color: #f7f7f7;
    font-size: 20px;
    font-family: Arial;
    padding: 30px 0 0 84px;
}

#shopping a {
    display: block;
    width: 114px;
    height: 23px;
    background: url(../images/shopping_btn_bg.png) no-repeat;
    position: absolute;
    top: 63px;
    left: 104px;
    font-size: 15px;
    color: #ffc200;
    text-decoration: none;
    font-weight: bold;
    text-align: center;
    line-height: 22px;
}

#shopping a:hover {
    color: #ffe338;
}

#header h1 {
    widows: 238px;
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -119px;
}

#header .search {
    top: 34px;
    right: 0;
}

.search {
    width: 292px;
    height: 31px;
    background: url(../images/search_bg.png) no-repeat;
    position: absolute;
}

.search .text {
    position: absolute;
    top: 0;
    left: 20px;
    width: 230px;
    height: 30px;
    border: none;
    background: none;
    font-size: 13px;
    color: #666;
    outline: none;
}

.search .btn {
    position: absolute;
    top: 0;
    right: 10px;
    width: 42px;
    height: 32px;
    background: none;
    border: none;
}

.search .btn:hover {
    cursor: pointer;
}

#nav {
    height: 36px;
    width: 960px;
    padding: 8px;
    margin: 0 auto;
}

#nav li {
    float: left;
    height: 28px;
    margin-right: 2px;
}

#nav a {
    float: left;
    height: 28px;
    text-decoration: none;
    color: #fff;
    font-size: 15px;
    font-family: Arial;
    line-height: 28px;
}

#nav strong {
    float: left;
    height: 28px;
    font-weight: normal;
}

#nav span {
    float: left;
    height: 28px;
    padding: 0 16px;
}

#nav a:hover,
#nav .active a {
    background: url(../images/nav_bg.png) repeat-x 0 -56px;
}

#nav a:hover strong,
#nav .active strong {
    background: url(../images/nav_bg.png) no-repeat;
}

#nav a:hover span,
#nav .active span {
    background: url(../images/nav_bg.png) no-repeat right -28px;
}

#content {
    width: 1000px;
    margin: 14px auto 0;
    background: url(../images/content_bg.png) repeat-y -2000px 0;
}

#content-top {
    width: 1000px;
    background: url(../images/content_bg.png) no-repeat;
}

#content-bottom {
    width: 1000px;
    background: url(../images/content_bg.png) no-repeat -2000px bottom;
    padding-top: 10px;
}

#ad {
    width: 940px;
    height: 300px;
    position: relative;
    margin: 0 auto;
}

#ad ul {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

#ad li {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
}

#ad h2 {
    position: absolute;
    left: 0;
    bottom: 8px;
    z-index: 3;
    width: 268px;
    text-align: center;
    font-size: 25px;
    color: #ffc600;
}

#ad p {
    position: absolute;
    left: 268px;
    bottom: 0;
    z-index: 3;
    color: #fcc;
    font-size: 13px;
    line-height: 16px;
    width: 630px;
    bottom: 8px;
}

#ad .bg {
    width: 940px;
    height: 52px;
    background: #000;
    filter: opacity(80%);
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 2;
}

#main {
    width: 942px;
    margin: 0 auto;
}

#side {
    width: 210px;
    float: left;
}

#wrap {
    width: 706px;
    float: right;
}

.clear {
    zoom: 1;
}

.clear::after {
    content: '';
    display: block;
    clear: both;
}

.module-menu {
    margin: 31px 0 12px 0;
}

.module-menu h2 {
    height: 29px;
    line-height: 28px;
    text-align: center;
    font-size: 15px;
    color: #fff;
    background: url(../images/module_menu_bg.gif) repeat-x 0 -58px;
    margin-bottom: 1px;
}

.module-menu h2 strong {
    display: block;
    height: 29px;
    background: url(../images/module_menu_bg.gif) no-repeat;
}

.module-menu h2 span {
    display: block;
    height: 29px;
    background: url(../images/module_menu_bg.gif) no-repeat right -29px;
}

.module-menu .list {
    background: url(../images/list_bg.gif) repeat-y;
}

.module-menu .list ul {
    background: url(../images/list_bg.gif) no-repeat -210px bottom;
    padding: 18px 8px 15px;
}

.module-menu .list a {
    display: block;
    height: 27px;
    line-height: 27px;
    border-bottom: 1px solid #fff;
    color: 434343;
    text-decoration: none;
    font-weight: bold;
    font-size: 12px;
    padding-left: 32px;
}

.module-menu .list a:hover {
    color: #b20e00;
    border-bottom: 1px solid #b20e00;
    background: #fcc;

}

.module-join {
    width: 210px;
    background: url(../images/list_bg.gif) repeat-y -630px 0;
}

.module-join-t {
    background: url(../images/list_bg.gif) no-repeat -420px 0;
}

.module-join-b {
    background: url(../images/list_bg.gif) no-repeat -840px bottom;
}

.Join-form {
    width: 180px;
    margin: 0 auto 12px;
}

.Join-form p {
    font-size: 15px;
    color: #666;
    line-height: 18px;
    padding: 12px 0;
}

.Join-form .text {
    width: 175px;
    height: 25px;
    line-height: 25px;
    background: #fff;
    border: 1px solid #fff;
    border-top: 1px solid #9c9c9c;
    border-left: 1px solid #c0c0c0;
    margin-bottom: 6px;
}

.Join-form .btn {
    width: 88px;
    height: 25px;
    border: none;
    font-size: 15px;
    color: #fff;
    font-weight: bold;
    background: url(../images/join_btn.png) no-repeat;
    margin: 0 auto;
    display: block;
    margin-bottom: 22px;
}

.Join-form .btn:hover {
    cursor: pointer;
}

.join-list {
    width: 210px;
    margin: 0 auto;
    background: url(../images/circle_4.png) no-repeat 10px 8px;
}

.join-list li {
    border-top: 1px solid #fff;
    padding-left: 62px;
    font-size: 13px;
    color: #434343;
}

.space1 {
    height: 45px;
    line-height: 45px;
}

.space2 {
    height: 38px;
    padding-top: 5px;
    line-height: 18px
}

.space3 {
    height: 45px;
    padding-top: 5px;
    line-height: 18px;
}

#payment {
    margin: 33px 0 0 18px;
}

.sort {
    height: 20px;
    margin-top: 30px;
    margin-bottom: 10px;
}

.sort dl {
    float: left;
}

.sort dt {
    float: left;
    color: #747474;
    font-weight: bold;
    font-size: 12px;
    padding-right: 2px;
}

.sort dd {
    float: left;
    width: 109px;
    height: 19px;
    position: relative;
    margin-right: 12px;
}

.sort h2 {
    width: 108px;
    height: 17px;
    border: 1px solid #ccc;
    font-size: 12px;
    color: #747474;
    font-weight: bold;
    text-indent: 5px;
}

.sort a {
    position: absolute;
    top: 0;
    left: 91px;
    width: 19px;
    height: 19px;
    background: url(../images/sort_1.gif) no-repeat;
    z-index: 2;
}

.sort a:hover {
    background: url(../images/sort_2.gif) no-repeat;
}

.sort ul {
    width: 108px;
    border: 1px solid #ccc;
    background: #fff;
    position: absolute;
    top: 18px;
    left: 0;
    z-index: 1;
    display: none;
}

.sort li {
    font-size: 12px;
    line-height: 20px;
    text-indent: 5px;
    cursor: pointer;
}

.sort .active {
    background: #099;
    color: #fff;
}

.sort p {
    font-size: 12px;
    float: right;
    color: #747474;
}

.sort p strong {
    color: #999;
}

.sort p span {
    padding: 5px;
}

.color-style {
    color: #b20e00;
}


.pic-list {
    width: 706px;
    overflow: hidden;
}

.pic-list h2,
#scroll-list h2 {
    height: 56px;
    line-height: 58px;
    overflow: hidden;
    font-size: 18px;
    color: #666;
}

.pic-list ul {
    width: 736px;
}

.pic-list li {
    float: left;
    width: 182px;
    height: 190px;
}

.pic-list a {
    display: block;
    width: 154px;
    height: 114px;
    border: 1px solid #c6c6c6;
    margin-bottom: 6px;
}

.pic-list a:hover {
    border: 1px solid #b20e00;
}

.pic-list h3 {
    font-size: 15px;
    color: #666;
    line-height: 16px;
}

.pic-list p {
    color: #333;
    font-size: 13px;
    line-height: 16px;
}

.pic-list span {
    color: #b20e00;
}

.page {
    text-align: center;
    border-bottom: 1px solid #cdcdc8;
    padding-bottom: 5px;
}

.page a {
    display: inline-block;
    height: 20px;
    padding: 0 6px;
    color: #b20e00;
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
}

.page a:hover,
.page .active {
    color: #fff;
    background: #b20e00;
}

.page span {
    font-family: '宋体'
}

.scroll-wrap {
    height: 216px;
    background: url(../images/scroll_bg.gif) repeat-x 0 -477px;
}

.scroll-wrap-l {
    height: 196px;
    background: url(../images/scroll_bg.gif) no-repeat 0 -86px;
}

.scroll-wrap-r {
    height: 196px;
    background: url(../images/scroll_bg.gif) no-repeat right -282px;
    position: relative;
}

.prev,
.next {
    width: 35px;
    height: 42px;
    position: absolute;
    top: 70px;
}

.prev {
    left: 0;
    background: url(../images/scroll_bg.gif) no-repeat;
}

.next {
    right: 0;
    background: url(../images/scroll_bg.gif) no-repeat 0 -43px;
}

.list-wrap {
    width: 615px;
    height: 150px;
    padding-top: 32px;
    margin: 0 auto;
}

.list-wrap ul {
    height: 150px;
}

.list-wrap li {
    width: 205px;
    float: left;
}

.list-wrap a,
.list-wrap p {
    width: 145px;
    margin: 0 auto;
}

.list-wrap a {
    display: block;
    width: 145px;
    height: 99px;
    border: 1px solid #c0c0c0;
}

.list-wrap a:hover {
    border: 1px solid #b20e00;
}

.list-wrap p {
    line-height: 14px;
    padding: 10px;
    width: 145px;
    font-size: 12px;
    color: #600;
    text-align: center;
}

#footer {
    width: 960px;
    margin: 0 auto;
    position: relative;
}

.footer-bar {
    float: left;
    position: relative;
}

.footer-bar li {
    float: left;
    height: 61px;
    font-size: 14px;
    font-weight: bold;
    line-height: 61px;
    color: #fff;
}

.footer-bar .safe {
    background: url(../images/footer_bar_1.png) no-repeat 5px;
    height: 61px;
    padding: 0 0 0 72px;
    margin: 0 0 0 10px;
}

.footer-bar .wish {
    background: url(../images/footer_bar_2.png) no-repeat 5px;
    height: 61px;
    padding: 0 0 0 52px;
    margin: 0 0 0 24px;
}

#footer .search {
    top:16px;
    right: 0;
}

#footer-bottom {
    position: absolute;
    width: 960px;
}


.bottom-nav {
    height: 20px;
    margin-top: 30px;
    margin-bottom: 10px;
}

.bottom-nav dl {
    float: left;
    width: 915px;
    top: 34px;
    height: 210px;
    position: relative;
} 

.bottom-nav dd {
    float: left;
    left: 22px;
    width: 183px;
    position: relative;
}

.bottom-nav h2 {
    font-size: 15px;
    font-weight: bold;
    height: 42px;
    color: #fff;
}

.bottom-nav li {
    width: 190px;
    font-size: 13px;
    height: 18px;
}

.bottom-nav a {
    color: #cfcfcf;
}

.bottom-nav strong {
    color: #ffcc00
}